.sortable tr {
    cursor: pointer;
}
tr:hover {
    background-color: #DCDCDC;
}

tr:hover td {
    background-color: transparent; /* or #000 */
}
#my{
   margin-left: 4rem;
   margin-top: -1rem;
  color:#beb2b2;  
}
